<header class="header">
    <a href="#" class="header__logo">
        <img src="~/images/minblog_logo.png" alt="logo" />
    </a>
    <nav class="header__nav">
        <a asp-action="Index">Головна</a>
        <a asp-action="News">Новини</a>
        <a asp-action="Contacts">Зворотній св'язок</a>
    </nav>
</header>