@{
    ViewData["Title"] = "Success Page";
}

    <div>
        <h1>Ваш запит обробляеться, наші спеціалісти зв'яжуться за вам !</h1>


        <div class="button__wrapper">
            <a href="/index.php" class="main-section__button">Повернутись на головну</a>
        </div>

    </div>